body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('background.jpg'); /* Replace 'background.jpg' with your image path */
  background-size: cover;
  background-repeat: no-repeat;
}

.sections {
  display: flex;
  justify-content: space-around;
  margin-top: 40px; /* Add spacing at the top of sections */
}

.section {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  background-color: rgba(131, 170, 192, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px; /* Add spacing between sections */
}

.section img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.section p {
  margin-top: 10px;
}

/* Common styles for all pages */
.crop-page {
  padding: 20px;
  text-align: center;
  background-color: rgba(131, 167, 192, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.page {
  padding: 20px;
  text-align: center;
  background-color: rgba(131, 167, 192, 0.9);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin: 10px auto; /* Center the input groups */
  text-align: left; /* Align text to the left within input groups */
}

.input-label {
  display: block;
  margin-bottom: 5px; /* Adjust the spacing as needed */
}
